<div class = "jumbotron center" ><h1>Welcome to our Source Code Plagiarism Detection Tool!</h1></div>

<div class="px-lg-5">
    <button class= "btn btn-link btn-block my-4 inline" id="button1"><a [routerLink]="['/login']"><h1>Login</h1></a></button>
    <button class= "btn btn-link btn-block my-4 inline" id="button2"><a [routerLink]="['/register']"><h1>Register</h1></a></button>
</div>

<!--<div class="container">
    <div class="row">
      <div class="col-lg-2">
        <button type="button" id="login-btn" class="btn btn-link"><h1>Start</h1></button>
      </div>
      <div class="col-lg-4">
        <button type="button" id="register-btn" class="btn btn-link"><h1>Register</h1></button>
      </div>
    </div>
  </div>-->

